/****** Tag Selectors ******/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 50px auto 50px auto;
    font-size: 5.265rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    margin-top: 30px;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    margin-top: 0;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 8%;
    margin: 100px auto 100px auto;
}

a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
/***** Class Selectors *****/
.profile {
    margin: 100px auto 100px auto;
}

.copyright {
    color: white;
    font-size: 0.75rem;
}

.top-container {
    background-color: rgb(226, 255, 245);
    padding-top: 100px;
    padding: 20px 0;
}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 0px;
    height: 100px;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
}

.profile {
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-me {
    line-height: 1.5;
    margin-bottom: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }